<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
   
        function myFunction() {
            document.getElementById("para").innerHTML = "WHOLE RESUME";
        }
    </script>
</head>
<body>
<img src="/static/images/solar.jpg" height="200" />
<h1 class="styled">
   My site
</h1>
This page will contain my stuff
<br>
<br>
<p id="para"> </p>
<<button id="button" type="button" onclick="myFunction()"> Click to see my stuff </button>
</body>
</html>